    body{
        background-color: rgb(255, 252, 214);
    }

    .page-header {
        background: linear-gradient(135deg, #198754, #28a745);
        color: white;
        padding: 30px;
        border-radius: 0 0 25px 25px;
        margin-bottom: 40px;
    }
    
    .profile-img {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #198754;
    }

    .card {
        border-radius: 18px;
        border: none;
    }

    .history-img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 12px;
    }
    
    .history-item:hover {
        background-color: #f1fdf6;
        transition: 0.3s;
    }